/* 网页固钉 -- 截图选项 */
.shot-box {
    z-index: 10;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(211, 97, 97, 0.1);
    font-size: 18px;
    border: 1px none rgb(203, 193, 193);
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
}

.shot-options-box {
    z-index: 10;
    position: fixed;
    right: 60px;
    top: 30px;
    width: 120px;
    background-color: rgb(252, 234, 234);
    font-size: 18px;
    border: 1px none rgb(203, 193, 193);
    border-radius: 10px;
    line-height: 30px;
    display: none;
    margin: 0;
    padding: 0;
}

.shot-option-box {
    width: 100%;
    margin: 0;
    padding: 0;
}

.shot-option {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

/* 展示二维码的弹窗 */
#popup-box {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    height: 650px;
    background-color: white;
    border: 3px solid #000;
    border-radius: 10px;
    display: none;
}

/* 关闭弹窗 */
.popup-box-close {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    background-color: rgb(134, 196, 235);
    border-radius: 5px;
}

.popup-box-close::before,
.popup-box-close::after {
    position: absolute;
    content: ' ';
    background-color: #000;
    left: 50%;
    width: 2px;
    height: 100%;
}

.popup-box-close::before {
    transform: rotate(45deg);
}

.popup-box-close::after {
    transform: rotate(-45deg);
}

/* 图片预览区域 */
.popup-box-left {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 400px;
    height: 600px;
}

/* 图片展示区域 */
.img-box {
    position: fixed;
    left: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
    width: 100%;
    height: 100%;
    overflow: auto
        /* background-color: pink; */
}

#img-preview {
    width: 99%;
    border: 2px solid rgb(120, 237, 239);
}

/* 有关二维码的区域 */
.popup-box-right {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
    width: 930px;
    height: 600px;
}

/* 二维码展示区域 */
#qrcode-box {
    width: 600px;
    height: 100%;
}

/* 二维码信息区域 */
.qrcode-msg-box {
    position: fixed;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    width: 300px;
    height: 100%;
}

/* 二维码进度区域 */
.qrcode-progress {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* 跳转二维码的 input 框 */
.goto-input {
    height: 20px;
    font-size: 24px;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s,
        -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,
        box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,
        box-shadow ease-in-out .15s;
}

.goto-input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

/* 跳转二维码的按钮 */
.goto-btn {
    font-size: 24px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato",
        sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);

    width: 100%;
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    line-height: 42px;
    padding: 0;
    border: none;
    margin-bottom: 20px;
}

.goto-btn:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}

.goto-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.goto-btn:before,
.goto-btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    transition: all 0.3s ease;
}

.goto-btn:before {
    height: 0%;
    width: 0.1px;
}

.goto-btn:after {
    width: 0%;
    height: 0.1px;
}

.goto-btn:hover:before {
    height: 100%;
}

.goto-btn:hover:after {
    width: 100%;
}

.goto-btn span:before,
.goto-btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
        inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
    transition: all 0.3s ease;
}

.goto-btn span:before {
    width: 0.1px;
    height: 0%;
}

.goto-btn span:after {
    width: 0%;
    height: 0.1px;
}

.goto-btn span:hover:before {
    height: 100%;
}

.goto-btn span:hover:after {
    width: 100%;
}


/* 控制轮播展示二维码的按钮 */
.carousel-btn {
    font-size: 24px;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato",
        sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1),
        4px 4px 5px 0px rgba(0, 0, 0, 0.1);

    width: 100%;
    border: none;
    color: #000;
    background-color: #F7FED5;
    margin-bottom: 20px;
}

.carousel-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
}

.carousel-btn:hover {
    color: #000;
}

.carousel-btn:hover:after {
    left: auto;
    right: 0;
    width: 100%;
}

.carousel-btn:active {
    top: 2px;
}