:root {
    --main-bg-color: white;
    --box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%);
    --box-margin-top: 30px;
}

/* 内容标题 */
.content-title {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    padding: 20px;
}

/* 总览表模块 */
#MuiGrid {
    margin-top: var(--box-margin-top);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.MuiGrid-item {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    width: 23%;
    margin: 1%;
    height: 200px;
    box-sizing: border-box;
    padding: 15px;
}

.MuiGrid-item-title {
    height: 20px;
}

.MuiGrid-item .MuiGrid-item-title h4 {
    height: 20px;
    color: #34c3ff;
}

.MuiGrid-item .MuiGrid-item-content {
    height: 100%;
}

.MuiGrid-item-chart {
    width: 100%;
    height: 100%;
}

/* 趋势分析模块 */
#trend {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    margin-top: var(--box-margin-top);
    width: 100%;
    height: 500px;
    padding-bottom: 30px;
}

.trend-title {
    padding: 20px;
    font-weight: 500;
}

.trend-chart {
    width: 100%;
    height: 100%;
}

/* 崩溃次数模块 */
#crashes {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    margin-top: var(--box-margin-top);
    width: 100%;
    height: 700px;
}

.crashes-title {
    padding: 20px;
    font-weight: 500;
}

.crashed-content {
    width: 100%;
    height: 100%;
}

.crash1 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

.crash2 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

/* 地区分析模块 */
#region-analyze {
    background-color: var(--main-bg-color);
    box-shadow: var(--box-shadow);
    margin-top: var(--box-margin-top);
    width: 100%;
    height: 800px;
}

.region-analyze-title {
    padding: 20px;
    font-weight: 500;
}

.region-analyze-chart {
    width: 100%;
    height: 90%;
}